@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    @keyframes timed-disappear {
        0% {
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }

        100%{
            opacity: 0;
        }
    }

    .text-disappear{
        opacity: 0;
        animation: 6s linear timed-disappear;
    }

    @keyframes animate-slide-in{
        0% {
            opacity: 0;
            transform: translateX(-32px);
        }

        100%{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .animate-slide-in{
        opacity: 0;
        transform: translateX(-32px);
        animation: 250ms linear animate-slide-in forwards;
    }

    @keyframes animate-border-glow{
        0% {
            border-color: #e5e7eb;
        }

        50%{
            border-color: #38bff8;
        }

        100% {
            border-color: #e5e7eb;
        }
    }

    .animate-border-glow{
        animation: 2000ms ease-out animate-border-glow forwards;
    }
}